:root {
    --dark: #212121;
    --light: #3f0023;
    --text: #fde4b3;
    --highlight: #c8e7ed;
}

@font-face{
    font-family: 'shantell';
    src: url('/fonts/shantell.ttf') format('truetype');
}

* {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'shantell';
    background-color: var(--light);
    color: white;
}

.brew-input {
    width: 300px;
}

.recipe-card {
    color: black;
    margin-top: 1rem;
    margin-right: 5rem;
    transition: margin-right 1s;
}

.recipe-card:hover {
    margin-right: 1rem;
}

.recipe-card-inverted {
    margin-top: 1rem;
    margin-right: 5rem;
    transition: margin-right 1s, background-color 1s, color 1s;
    background-color: var(--light);
    color:white;
    border: solid 1px white;
}

.recipe-card-inverted:hover {
    margin-right: 1rem;
    background-color: white;
    color: var(--light);
}

.brew-input {
    border: solid 1px black;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.card-body {
    padding: 10px;
}


/**
 ######### SLIDER #########
*/

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;
}


/**
 ######### COLOR INPUT #########
*/

.brew-color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;

    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.brew-color-input::-webkit-color-swatch {
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    border-color: #d1d3e2;
}

.brew-color-input::-moz-color-swatch {
    border-radius: 15px;
    border: solid;
    border-color: #d1d3e2;
    border-width: 2px;
}

/**
 ######### SELECT ######### 
*/

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: white;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


.new-ing {
    border: solid 1px white;
    padding: 8px;
    padding-right: 2rem;
    padding-left: 2rem;
    color:white;
    background-color: var(--light);
    border-radius: 1rem;
}

.new-ing:hover {
    background-color: white;
    color: var(--light);
}

.ing-list {
    margin-top: 2rem;
}

.item-list {
    padding-top: 10px;
}

.item-row {
    margin-bottom: 0.5rem;
}